In [2]:
%load_ext sql
%sql mysql+mysqlconnector://root:koushik16@localhost/

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%%sql
use uber;
CREATE TABLE demo_events (
    event_id INT AUTO_INCREMENT PRIMARY KEY,
    event_name VARCHAR(100),
    event_date DATETIME,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.

[]

In [4]:
%%sql
INSERT INTO demo_events (event_name, event_date)
VALUES
    ('New Year Celebration', '2025-01-01 00:00:00'),
    ('Summer Fest', '2025-06-15 12:30:00');

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[]

In [6]:
%%sql
select * from demo_events

 * mysql+mysqlconnector://root:***@localhost/
2 rows affected.

[(1, 'New Year Celebration', datetime.datetime(2025, 1, 1, 0, 0), datetime.datetime(2025, 11, 24, 11, 59, 1)),
 (2, 'Summer Fest', datetime.datetime(2025, 6, 15, 12, 30), datetime.datetime(2025, 11, 24, 11, 59, 1))]