In [3]:
%load_ext sql
%sql mysql+mysqlconnector://root:koushik16@localhost/

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%%sql
use uber;
CREATE TABLE employees (
    employee_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name  VARCHAR(50),
    last_name   VARCHAR(50),
    position    VARCHAR(50),
    salary      DECIMAL(10,2)
);

CREATE TABLE contractors (
    contractor_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name    VARCHAR(50),
    last_name     VARCHAR(50),
    position      VARCHAR(50),
    hourly_rate   DECIMAL(10,2)
);

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [5]:
%%sql
INSERT INTO employees (first_name, last_name, position, salary)
VALUES
('Alice', 'Smith', 'Developer', 70000.00),
('Bob', 'Johnson', 'Developer', 75000.00),
('Charlie', 'Lee', 'Manager', 90000.00);

INSERT INTO contractors (first_name, last_name, position, hourly_rate)
VALUES
('Dave', 'Williams', 'Developer', 40.00),
('Eve', 'Brown', 'Tester', 35.00),
('Bob', 'Johnson', 'Developer', 45.00);

 * mysql+mysqlconnector://root:***@localhost/
3 rows affected.
3 rows affected.

[]

In [6]:
%%sql
select  employee_id,first_name from employees
union 
select contractor_id	,first_name from contractors

 * mysql+mysqlconnector://root:***@localhost/
6 rows affected.

[(1, 'Alice'), (2, 'Bob'), (3, 'Charlie'), (1, 'Dave'), (2, 'Eve'), (3, 'Bob')]